# http://stackoverflow.com/a/28473188/3171537
# https://projectlombok.org/api/lombok/ConfigurationKeys.html
# https://projectlombok.org/features/configuration.html

# To stop lombok from looking at parent directories for more configuration files, the special key:
config.stopBubbling = true

# Lombok normally adds @javax.annotation.Generated annotations to all generated nodes where possible.
# You can stop this with:
lombok.addGeneratedAnnotation = false
# If true, lombok will not generate a @java.beans.ConstructorProperties annotation when generating constructors.
# This is particularly useful for GWT and Android development.
lombok.anyConstructor.suppressConstructorProperties = true

# If set to true, generated setters will 'chain' by default (They will return this instead of having a void return type).
lombok.accessors.chain = false

# If set to true, generated setters and getters will simply be named the same as the field name, without a get or set prefix.
lombok.accessors.fluent = false

lombok.equalsAndHashCode.doNotUseGetters = true
lombok.toString.doNotUseGetters = true

# Config keys that can even affect source files with 0 lombok annotations
# Turning either of these options on means lombok will make every field in every source file final and/or private
# unless it has an explicit access modifier or annotation to suppress this.
#lombok.fieldDefaults.defaultPrivate = true
#lombok.fieldDefaults.defaultFinal = true